<h1>Creatures</h1>

<% @creatures.each do |creature| %>
	
	<div>
		Name: <%= creature.name %> <br/>
		Description: <%= creature.description %>
	</div>
	<%= button_to "Delete", creature, method: :delete %>
	<br><br>


<% end %>