<div class="container">
<h1 class="creatures-header">Creatures</h1>
<h3>These creatures live in your bog:</h3>


<% @creatures.each do |creature| %>
	
	<div class="index-creature-view">
		Name: <%= creature.name %> <br/>
		Description: <%= creature.description %>
	</div>
	<%= button_to "Delete", creature, method: :delete, :class => "btn btn-default" %>
	<br><br>


<% end %>
</div>