// Place all the styles related to the creatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #007F00;
}

.bogly-header {
	color: white;
	font-size: 40px;
	text-align: center;

}

.bogly-border {
	border-style: outset;
	border-width: 10px;
	border-color: white;
}

.index-creature-view {
	
}